@model someren_vilage.Models.Activity

@{
    ViewData["Title"] = "Delete Activity";
}

<h2>Delete Activity</h2>

<div class="mb-3">
    <dl class="row">
        <dt class="col-sm-2">ActivityId</dt>
        <dd class="col-sm-10">@Model.ActivityId</dd>
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Day</dt>
        <dd class="col-sm-10">@Model.Day</dd>
        <dt class="col-sm-2">Time</dt>
        <dd class="col-sm-10">@Model.TimeOfDay</dd>
    </dl>
</div>

<form asp-controller="Activity" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="ActivityId" />
    <button class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back</a>
</form>
